<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('error_message', count: object.errors.count, model: object.model_name.human.downcase) %></h2>

    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
